<%= simple_form_for(@admin_blog_entry, url: admin_blog_entries_path, method: :post, html: {multipart: true}) do |f| %>
	<%= render partial: 'form', locals: {:f => f}%>
 
 	<div class="form-actions">
    	<%= f.submit "Guardar registro", class: "btn btn-primary" %> | <%= link_to '<< Cancelar', admin_blog_entries_path, class: "btn btn-default" %>
  	</div> 
<% end %>



<%= content_for :stylesheets do %>
 	<%= stylesheet_link_tag 'plugin/wysihtml5' %> 
<% end %>

<%= content_for :javascripts do %>
	<%= javascript_include_tag 'https://cdn.ckeditor.com/4.5.7/standard/ckeditor.js'%>
	<script>
		jQuery(function($) { 
			CKEDITOR.replace('blog_entry_content'); 
		});
	</script>
<% end %>