<p id="notice"><%= notice %></p>

<h1>Listing Admin Advertisements</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_advertisements.each do |admin_advertisement| %>
      <tr>
        <td><%= link_to 'Show', admin_advertisement %></td>
        <td><%= link_to 'Edit', edit_admin_advertisement_path(admin_advertisement) %></td>
        <td><%= link_to 'Destroy', admin_advertisement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advertisement', new_admin_advertisement_path %>
