<section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner"> 
                <% i = 0 %>
                <% Advertisement.order("id asc").each do |a| %>
                    <div class="item <%='active' if i==0%>" style="background-image: url(<%=a.background_img%>)">
                        <div class="container">
                            <div class="row slide-margin">
                               <% if a.text_position=='left' %>
                                    <div class="col-sm-6 hidden-xs animation animated-item-4">
                                        <div class="slider-img">
                                            <img src="<%=a.main_img%>" class="img-responsive">
                                        </div>
                                    </div>

                                     <div class="col-sm-6">
                                        <div class="carousel-content">
                                            <h1 class="animation animated-item-1"><%=a.title%></h1>
                                            <h2 class="animation animated-item-2"><%=a.description%></h2>
                                            <% unless a.url_info.blank? %>
                                                <a class="btn-slide animation animated-item-3" href="<%= a.url_info %>">Read More</a>
                                            <% end %>
                                        </div>
                                    </div>
                                <% else %> 
                                     <div class="col-sm-6">
                                        <div class="carousel-content">
                                            <h1 class="animation animated-item-1"><%=a.title%></h1>
                                            <h2 class="animation animated-item-2"><%=a.description%></h2>
                                            <% unless a.url_info.blank? %>
                                            <a class="btn-slide animation animated-item-3" href="<%= a.url_info %>">Read More</a>
                                            <% end %>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 hidden-xs animation animated-item-4">
                                        <div class="slider-img">
                                            <img src="<%=a.main_img%>" class="img-responsive">
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div><!--/.item-->
                    <% i+=1 %>
                <% end %>
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->


    <div class="purchase">
      <div class="container">
        <div class="row">
          <div class="col-md-12 animated fadeInLeft">
            <div class="wow fadeInDown">
                <div class="get-started center wow fadeInDown animated" style="margin-top: 30px">
                    <h2>¿Sabías qué?</h2>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br> Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
                    <div class="request">
                        <h4><a href="#">Capsula del dia de hoy</a></h4>
                    </div>
                </div>
            </div> 
      </div>   
    </div>
  </div>
</div>



 <section id="feature" >
    <div class="container"> 
        <div class="row"> 
            <div class="col-md-9 col-sm-12 wow fadeInDown text-center" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="tab-wrap">
                    <div class="media">
                        <div class="parrent pull-left">
                            <ul class="nav nav-tabs nav-stacked">
                                <li class=""><a class="analistic-01" data-toggle="tab" href="#tab1">Premium Plugin Included</a></li>
                                <li class="active"><a class="analistic-02" data-toggle="tab" href="#tab2">Más de casa del alfarero</a></li>
                                <li class=""><a class="tehnical" data-toggle="tab" href="#tab3">Predefine Layout</a></li>
                                <li class=""><a class="tehnical" data-toggle="tab" href="#tab4">Our Philosopy</a></li> 
                            </ul>
                        </div>
                        <div class="parrent media-body">
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane fade">
                                    <div class="media"> 
                                        <div class="media-body">
                                            <iframe width="520" height="315" src="https://www.youtube.com/embed/a3ILxSWf3aE" frameborder="0" allowfullscreen></iframe> 
                                        </div>
                                    </div>
                                </div>
                                <div id="tab2" class="tab-pane fade active in">
                                    <div class="media"> 
                                        <div class="media-body">
                                            <iframe width="520" height="315" src="https://www.youtube.com/embed/a3ILxSWf3aE" frameborder="0" allowfullscreen></iframe> 
                                        </div>
                                    </div>
                                </div>
                                <div id="tab3" class="tab-pane fade">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
                                </div>
                                <div id="tab4" class="tab-pane fade">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words</p>
                                </div> 
                            </div>  
                        </div>  
                    </div>  
                </div> 
            </div>   
            <div class="col-md-3">
                <div class="fb-page" data-href="https://www.facebook.com/Ministerio-Internacional-Casa-del-Alfarero-599050463514889/?fref=ts" data-tabs="timeline" data-height="320" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/facebook"><a href="https://www.facebook.com/Ministerio-Internacional-Casa-del-Alfarero-599050463514889/?fref=ts">Facebook</a></blockquote></div></div> 
            </div>   
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#feature-->
 
<section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>Últimas fotos en nuestra galería</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item1.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a> </h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item2.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item3.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item4.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
                
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item5.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme</a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item6.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div> 

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item7.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="http://shapebootstrap.net/demo/html/corlate/images/portfolio/recent/item8.png" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">Business theme </a></h3>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                <a class="preview" href="http://shapebootstrap.net/demo/html/corlate/images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                            </div> 
                        </div>
                    </div>
                </div>   
            </div><!--/.row-->
            <br>
            <%= link_to "Ver todas en nuestra galería >>", "#", class: "btn btn-default btn-block"%>
        </div><!--/.container-->
    </section><!--/#recent-works-->

<!--
<div ng-show="loading"> Cargando... </div>
<div ng-show="!loading && admins.length <= 0"> No se encontraron los resultados </div>

<ul>
	<li ng-repeat="admin in admins">{{admin.names}} {{ admin.lastnames}}</li>
</ul> --> 
