<% @entries.each do |b| %>
<div class="blog-item">
    <div class="row">
        <div class="col-xs-12 col-sm-2 text-center">
            <div class="entry-meta">
                <span id="publish_date"><%= b.created_at.strftime('%d %B')%></span>
                <span><i class="fa fa-user"></i> <a href="#"><%= b.admin.names.truncate(12) unless b.admin.nil?%></a></span>
                <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                <span><i class="fa fa-heart"></i><a href="#">56 Likes</a></span>
            </div>
        </div>
            
        <div class="col-xs-12 col-sm-10 blog-content">
            <a href="#">
                <%= image_tag(b.previus_img.real, class: 'img-responsive img-blog') %>
            </a>
            <h2><a href="blog-item.html"><%=b.title%></a></h2> 
            <h3><%=b.intro%></h3>
            <a href="/<%=b.id%>" class="btn btn-primary readmore">Leer más <i class="fa fa-angle-right"></i></a>
        </div>
    </div>    
</div><!--/.blog-item-->
<% end %>