<% @entries.each do |b| %>
<div class="blog-item">
    <div class="row">
        <div class="col-xs-12 col-sm-2 text-center">
            <div class="entry-meta">
                <span id="publish_date"><%= b.created_at.strftime('%d %B')%></span>
                <span><i class="fa fa-user"></i> <a href="#"><%= b.admin.names.truncate(12) unless b.admin.nil?%></a></span>
                <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments">2 Comments</a></span>
                <span><i class="fa fa-list"></i><a href="#"><%= b.blog_comments_count%> Comentarios</a></span>
            </div>
        </div>
            
        <div class="col-xs-12 col-sm-10 blog-content">
            <a href="#">
                <%= image_tag(b.previus_img.real, class: 'img-responsive img-blog') %>
            </a>
            <h2><%= link_to b.title, blog_show_path(b.blog_category, b) %> <br><small><%= b.blog_category.title if b.blog_category%></small></h2> 
            <h3><%=b.intro%></h3>
            <%= link_to "Leer más <i class='fa fa-angle-right'></i>".html_safe, blog_show_path(b.blog_category, b), class: 'btn-primary readmore' %> 
        </div>
    </div>    
</div><!--/.blog-item-->
<% end %>