 
<%= simple_form_for(@blog_comment, url: blog_create_comment_path(@blog), method: :post, remote: true) do |f|%>
    <div class="errors"><ul id="errors" style="color:#790E0E"></ul></div>
    <div class="row">
        <div class="col-sm-5">
            <%= f.input :name%>               
        </div>
        <div class="col-sm-7">  
            <%= f.input :email %> 
        </div>
    </div>
    <div class="form-group">
        <%= f.input :message%> 
    </div>                        
    <div class="form-group">
        <%= f.submit "Enviar mensaje", class: "btn btn-primary btn-lg"%> 
    </div>
<% end %>