<section class="container" id="blog"> 
    <div class="blog">
        <div class="row">
            <div class="col-md-8">
                <div class="blog-item"> 
                    <%= image_tag(@blog.previus_img.real, class: 'img-responsive img-blog') %>
                        <div class="row">  
                            <div class="col-xs-12 col-sm-2 text-center">
                                <div class="entry-meta">
                                    <span id="publish_date"><%= @blog.created_at.strftime('%d %B')%></span>
                                    <span><i class="fa fa-user"></i> <a href="#"><%= @blog.admin.names.truncate(12) unless @blog.admin.nil?%></a></span>
                                    <span><i class="fa fa-comment"></i> <a href="blog-item.html#comments"><%= @blog.blog_comments_count%> Comments</a></span>
                                    <span><i class="fa fa-eye"></i><a href="#"><%= @blog.count_view%> Visto</a></span>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-10 blog-content">
                                <h2><%= @blog.title %></h2>
                                <div class="well well-xs"><%=@blog.intro %></div>
                                <%=@blog.content.html_safe%>
                                <div class="post-tags">
                                    <strong>Tag:</strong> <a href="#">Cool</a> / <a href="#">Creative</a> / <a href="#">Dubttstep</a>
                                </div>
                                 <div class="pull-right post_reply text-center"> 
                                    <ul>
                                        <li><p>Comparte esto en tus redes sociales: &nbsp;&nbsp;</p> </li>
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li> 
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div><!--/.blog-item-->
                     
                    <h1 id="comments_title"><%=@blog.blog_comments_count%> Comentarios</h1>

                    <div class="media comment_section">
                        <% @blog_comments.where(blog_entry_id: @blog.id).each do |msj|%>
                        <article class="comment">
                          <a class="comment-img" href="#non">
                            <img src='<%=img_placehold("#{msj.name[0]}#{msj.name[1]}", 50, 14)%>' alt="" width="50" height="50">
                          </a>
                          <div class="comment-body">
                            <div class="text">
                              <p><%=msj.message%></p>
                            </div>
                            <p class="attribution">by <a href="#non"><%=msj.name%></a> Hace <%= time_ago_in_words(msj.created_at) %></p>
                          </div>
                        </article>  
                        <% end %>
                    </div> 

                    <div id="notice"></div>
                    <div id="contact-page clearfix">
                        <div style="display: none" class="status alert alert-success"></div>
                        <div class="message_heading">
                            <h4>Deja tu comentario</h4>
                            <p>Puedes participar dejando tu comentario acerca de este contenido.</p>
                        </div>  
                        <%= render partial: "form_comment"%>   
                    </div><!--/#contact-page-->
                </div><!--/.col-md-8-->

            <aside class="col-md-4">
                <div class="widget search">
                    <form role="form">
                            <input type="text" placeholder="Search Here" autocomplete="off" class="form-control search_box">
                    </form>
                </div><!--/.search-->
				
				<div class="widget categories">
                    <%= render partial: "comments" unless @blog_comments.size == 0 %>                      
                </div><!--/.recent comments--> 

                <%= render partial: "categories" unless @categories.size == 0  %> 
                <div class="widget tags">
                    <%= render partial: "tags" %> 
                </div><!--/.tags-->  
                 
            </aside>      
        </div><!--/.row--> 
     </div><!--/.blog--> 
</section>
<%= stylesheet_link_tag 'plugin/blog_comments' %> 