 
<div class="pull-right">
    <%= link_to '<i class="fa fa-plus"></i> Nueva capsula'.html_safe, new_admin_capsule_path, class: 'btn btn-app' %> 
</div>
 
    <% @admin_capsules.each do |admin_capsule| %>
      <div class="post">  
          <h3><%= admin_capsule.title %></h3> 
          <p class="text-muted">Publicado por: <strong><%= admin_capsule.admin.full_name %></strong></p> 
        <p>
          <%= admin_capsule.content %>
        </p>
        <ul class="list-inline">
          <li>
            <%= link_to "<i class='fa fa-edit margin-r-5'></i> Editar".html_safe, edit_admin_capsule_path(admin_capsule), class: "btn-xs text-sm btn-warning btn" %>
          </li>
          <li>
            <%= link_to "<i class='fa fa-close'></i> Quitar".html_safe, admin_capsule_path(admin_capsule), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger btn  btn-xs  text-sm" %> 
          </li> 
        </ul> 
      </div>
 
    <% end %> 
