<!DOCTYPE html>
<html ng-app="CdaApp">
<head>
  <title>Ministerio Internacional Casa del Alfarero .::. Oficial</title>
  <%= stylesheet_link_tag 'admin' %> 
  <%= stylesheet_link_tag	'http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css' %> 
  <%= yield(:stylesheets)%>
  <%= csrf_meta_tags %>
    
  <%#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js' %>
  
  
  <%#= csrf_meta_tags %>
  <%= render partial: '/partials/google_analytics' %>
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
</head>
<body class="skin-blue sidebar-mini" ng-controller="<%= params[:action].capitalize %>">
  <header class="main-header">
    <%= render partial: "/partials/admin/header"%> 
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <%= render partial: "/partials/admin/sidebar"%> 
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1> <%= @page_title %> <small><%= @page_subtitle %></small> </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12"> 

          <div class="box box-primary">
            <% unless @page_subtitle.nil? %>
              <div class="box-header">
                <i class="fa fa-edit"></i> 
                <h3 class="box-title"><%= @page_subtitle %></h3>
              </div>
            <% end %>
            <div class="box-body pad"> 
              <%= yield %> 
            </div>
            <!-- /.box -->
          </div>
        </div>
      </div>
       
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <%= render partial: "/partials/admin/footer"%>
  <%= render partial: "/partials/admin/control"%>

  
  	 
  <%#= javascript_include_tag "#{params[:controller]}/#{params[:action]}" if ::Rails.application.assets.find_asset("#{params[:controller]}/#{params[:action]}.js") %>
  <%= javascript_include_tag 'admin'%>
	<%= javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js'%>
  <script>
        $(document).ready(function() { 
            <% if flash.count>0 %>
                setTimeout(function() {
                    toastr.options = {
                        closeButton: true,
                        progressBar: true,
                        showMethod: 'slideDown',
                        timeOut: 4000
                    };
                    <% flash.each do |type, message| %>
                    toastr.<%=toastr_class_for type%>("<%=message.inspect%>")
                    <% end %>
                }, 500);
            <% end %> 
        });
    </script>
    <%= yield(:javascripts)%>
</body>
</html>
